<center><h1>글작성</h1></center>
<form action="/board/writePro" method="post">
	<table width="400" border="1" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td width="70" align="center">작성자</td>
			<td width="330">
				<input type="text" name="writer" size="10" maxlength="10" />				
			</td>		
		</tr>
		<tr>
			<td width="70" align="center">제목</td>
			<td width="330">
				<input type="text" name="title" size="10" maxlength="10" />
			</td>
		</tr>
		<tr>
			<td width="70" align="center">내용</td>
			<td width="330">
				<textarea name="content" rows="13" cols="40"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="글쓰기"><input type="reset" value="다시 작성" />
			</td>
		</tr>
	</table>
</form>