<h2>*{} : 선택변수 표현식</h2>
<h3>현재 객체의 내부 속성(변수)을 접근하는데 사용</h3>

<h1>변수표현식</h1>
<div>
	<p>
		Name : <span th:text="${session.user.name}"></span>
	</p>
	<p>
		Age : <span th:text="${session.user.age}"></span>
	</p>
</div>

<h1>변수표현식</h1>
<div th:object="${session.user}"> //객체만 지정해주고 꺼낼 값만 따로 지정해주면 돼서 더 편리한 방식이다.
	<p>
		Name : <span th:text="*{name}"></span>
	</p>
	<p>
		Age : <span th:text="*{age}"></span>
	</p>
</div>

th:object
- 타임리프의 변수 선언 속성
- 적용된 태그 내부에서만 사용 가능
- div태그 안에서만 사용 가능한 지역변수이다.
ex)<div th:object="${session.클래스명}"></div>

th:object="${session.user}"
- 지역변수로 session에 저장된 user를 변수로 선언

*{name}
- 변수로 저장된 user 객체의 getName메서드가 사용되었다.

*{age}
- 변수로 저장된 user 객체의 getAge메서드가 사용되었다.
